<?xml version="1.0"?>
<!--
/**
 * AltaPay Module for Hyva Checkout.
 *
 * Copyright © 2025 AltaPay. All rights reserved.
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="terminal1" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal2" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal3" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal4" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal5" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal6" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal7" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal8" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal9" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
                <item name="terminal10" xsi:type="object">Altapay\HyvaCheckout\Service\PlaceOrderService</item>
            </argument>
        </arguments>
    </type>
    <type name="Hyva\Checkout\Model\MethodMetaData">
        <plugin name="altapay-hyva-checkout-icon" type="Altapay\HyvaCheckout\Plugin\Hyva_Checkout\Model\MethodMetaData" />
    </type>
</config>
